

<div class="parallax-container">
    <div parallax><img ng-src="images/ws.jpg"></div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div class="row center section no-pad-bot" ng-if="!main.loggedIn">
      <a href="#login" id="" class="btn-large waves-effect waves-light lime darken-4" modal>Login</a>|
      <a href="#signup" id="" class="btn-large waves-effect waves-light lime darken-4" modal>Sign Up</a>
    </div>
    <br><br>
    <br><br>
    <br><br>
</div>
