  <div class="row">
    <form class="col s12" ng-submit="login.doLogin()">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate" ng-model="login.loginData.email">
          <label for="icon_prefix">email</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">lock</i>
          <input id="icon_lock" type="password" class="validate" ng-model="login.loginData.password">
          <label for="icon_lock">Password</label>
        </div>
				<div class="input-field col s4">
					<button type="submit" class="btn btn-block btn-primary">
						<span >Login</span>
					</button>
				<div>
      </div>
    </form>
  </div>
